<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Kenneth Portfolio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    </head>

    <body>
        <header>
            <nav>
                <div class="logo">
                    <a href="homepage.html">Portfolio</a>
                </div>
                <ul class="nav-links">
                    <li>
                        <a href="homepage.html" class="active">Home</a>
                    </li>
                    <li>
                        <a href="experience.html">Portfolio</a>
                    </li>
                    <li>
                        <a href="portfolio.html">Contact Me</a>
                    </li>
                </ul>
            </nav>
        </header>
    </body>
</html>
